[user]
	name = Joris van Rooij
	email = jorrizza@jrrzz.net
	signingkey = 5874835A8437650D195216301CE9B2A05E471171
[color]
	ui = auto
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/
[push]
	default = simple
[alias]
	jetzt = merge
