[user]
	name = Joris van Rooij
	email = jorrizza@jrrzz.net
	signingkey = C842731651DA8B7C9F34B5467B0742A5E4CB4D57
[includeIf "gitdir:~/src/sendcloud/"]
	path = ~/src/sendcloud/.gitconfig
[color]
	ui = auto
[url "git://git.debian.org/d-i/"]
	insteadOf = git+ssh://git.debian.org/git/d-i/
[push]
	default = simple
[alias]
	jetzt = merge
[commit]
	gpgSign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = false
[init]
	defaultBranch = master
[core]
	excludesfile = /home/jorrizza/.gitignore
