! X font rendering settings
Xft.dpi:	96
Xft.antialias: 	1
Xft.hinting:	1
Xft.hintstyle:	hintfull
Xft.rgba:	rgb

! XFCE Terminal ignores this, but it is nice to keep around.
x-terminal-emulator*font:			xft:Terminus-8
x-terminal-emulator*borderLess:			false
x-terminal-emulator*externalBorder:		0
x-terminal-emulator*internalBorder:		2
x-terminal-emulator*scrollBar:			false
x-terminal-emulator*depth:			32
x-terminal-emulator*background:			#000000
x-terminal-emulator*foreground:			#D3D7CF
x-terminal-emulator*saveLines:			1000
x-terminal-emulator*urlLauncher:      		x-www-browser
x-terminal-emulator*transparent:		true
x-terminal-emulator*shading:			30
x-terminal-emulator*metaSendsEscape:		true


! Black
*color0:  #2E3436
*color8:  #555753
! Red
*color1:  #CC0000
*color9:  #EF2929
! Green
*color2:  #4E9A06
*color10: #8AE234
! Yellow
*color3:  #C4A000
*color11: #FCE94F
! Blue
*color4:  #3465A4
*color12: #729FCF
! Purple
*color5:  #75507B
*color13: #AD7FA8
! Cyan
*color6:  #06989A
*color14: #34E2E2
! White
*color7:  #D3D7CF
*color15: #EEEEEC

! Default screen saver
XLock.mode: gears
